.btn-custom {
  background-color: #007bff;
  color: white;
}

.btn-custom:hover {
  background-color: #0069d9;
  color: white;
}

.btn-custom-red {
  background-color: #ff4b5c;
  color: white;
}

.btn-custom-red:hover {
  background-color: #ff4b5c;
  color: white;
}

.btn-md {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

#quiz-list .list-group-item,
#attempt-list .list-group-item {
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease;
  font-size: 18px; /* Adjust font size */
  font-weight: 500; /* Lighter font weight */
  color: #7e7e7e; /* Change the color of the font */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
}

#quiz-list .list-group-item:hover,
#attempt-list .list-group-item:hover {
  background: #f8f9fa;
  cursor: pointer;
}

.card {
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease;
}

.card:hover {
  background: #f8f9fa;
  cursor: pointer;
}

.btn-group {
  position: relative;
  left: -20px;
  top: -20px;
}

#quiz-list,
#attempt-list {
  height: 90%;
  overflow-y: auto;
  margin-top: 5%;
}

#quiz-detail,
#attempt-detail {
  height: 90%;
  overflow-y: auto;
  margin-top: 5%;
  padding-bottom: 120px;
}

h2 {
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  color: #3c3c3c;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  text-align: left;
}

h2 span {
  display: inline-block;
  position: relative;
}

/* h2 span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 50px;
  background-color: #3c3c3c;
} */

/* Navigation Bar CSS */
nav {
  background-color: #333;
  height: 70px; /* Set the height of the navbar */
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix position at the top of the page */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Stay on top */
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul {
  margin-bottom: auto;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

/* Body CSS to add padding at the top */

body {
  padding-top: 70px; /* Adjust as needed */
}

.delete-button {
  background-color: #ff4b5c; /* Red color */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 14px -7px #ff4b5c;
}

.delete-button:hover {
  background-color: #ff7b8c;
  color: white;
  box-shadow: 0 12px 16px -8px #ff7b8c;
}

.course-info {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 1em;
}

.container-custom {
  margin-top: 50px;
  margin-bottom: 50px;
}
.question-card {
  margin-bottom: 20px;
}
.answers-container {
  margin-bottom: 10px;
}
.quiz-card {
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.submit-button-container {
  text-align: center;
  margin-bottom: 20px;
}
.intro-text {
  font-size: 1.2em;
  font-weight: 500;
  color: #555;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}
.col-md-6 {
  margin: 1.5rem 0; /* add some space below each column */
}
.rslt-container {
  padding: 2rem; /* add some padding around the container */
}
#chart-container {
  width: 75%;
  height: 75%; /* set a fixed pixel height */
}
#summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px; /* adjust this value as needed */
}
/* Styling the timer */
#timer {
  background-color: #f8f9fa;
  color: #ff4b5c;
  padding: 10px;
  border-radius: 10px;
  display: inline-block; /* Prevent it from spanning the entire width */
}

@media (max-width: 700px) {
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {

  ::-webkit-scrollbar {
    display: none;
  }

  .col-4 {
    width: 90%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

  }
  .col-8 {
    width: 90%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;


  }

  .btn-toolbar.justify-content-end.fixed-bottom.p-3 {

    flex: auto;
    justify-content: center;

    margin-left: auto;
    
  }


  .btn-group {
    max-width: 100%;
    width: 83%;
    flex: auto;
    flex-direction: row;
    justify-content: left;
    height: 70%;
  }

  .btn.btn-custom.btn-custom-red.btn-md.shadow {
    max-width: 100%;
    width: 50%;
    
    text-align: center;

    font-size: x-small;

  }

  .btn.btn-custom.btn-md.mr-2.shadow {
    max-width: 100%;
    width: 30%;

    text-align: center;

    font-size: x-small;
  }

}

@media (max-width: 300px) {
  
  .btn.btn-custom.btn-custom-red.btn-md.shadow {
    font-size: x-small;
    
    padding: 8px;
  }

  .btn.btn-custom.btn-md.mr-2.shadow {
    font-size: x-small;
    text-align: center;
    
    padding: 8px;
    
    
    
  }

  .btn-group{
    max-width: 74%;  
    
    flex: auto;
    flex-direction: row;
    justify-content: center;
    
    margin-right: 5%;

  }
} 