<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Our Quizzes Page{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body class="main-body">
    <header id="indexHeader">
        <a href="{{ url_for('landing_page') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="App Logo" id="appLogo", width="300" height="300"></a>
        <nav>
            <!-- <ul class="navUl">
                <li class="navElmt"><a href="{{ url_for('login') }}">Login</a></li>
                <li class="navElmt"><a href="{{ url_for('register') }}">Register</a></li>
                <li class="navElmt"><a href="{{ url_for('index') }}">Home</a></li>
            </ul> -->
        </nav>
    </header>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
