<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Our Quizzes Page{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header id="indexHeader">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="App Logo" id="appLogo">
        <p>Smart Quiz</p>
        <nav>
            <ul class="navUl">
                <li class="navElmt"><a href="{{ url_for('login') }}">Login</a></li>
                <li class="navElmt"><a href="{{ url_for('register') }}">Register</a></li>
                <li class="navElmt"><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
