<!DOCTYPE html>
<html>
<head>
    <title>{{ category }} Quizzes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ category }} Quizzes</h1>
        <a href="{{ url_for('create_quiz_page') }}" class="create-btn">Create Quiz</a>

        <h2>All {{ category }} Quizzes:</h2>
        <ul>
        {% for quiz in quizzes %}
            <li>
                <a href="{{ url_for('quiz_page', quiz_id=quiz.id) }}">{{ quiz.title }}</a>
                <form action="{{ url_for('delete_quiz', quiz_id=quiz.id) }}" method="post" class="delete-form">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
