<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container container-custom">
        <h2>Create Quiz</h2>
        <p class="intro-text">Follow the steps below to create a new quiz. Select a course, fill in the quiz topic, set the number of questions, and start building your quiz!</p>
        
        <form method="POST" action="/create_quiz">
            <div class="card mt-4 quiz-card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="quiz_name">Quiz Name:</label>
                        <input type="text" class="form-control" id="quiz_name" name="quiz_name" required>
                    </div>
                
                    <div class="form-group">
                        <label for="course">Course:</label>
                        <select class="form-control" id="course" name="course" required>
                            <option value="Node.js">Node.js</option>
                            <option value="Network">Network</option>
                            <option value="Biology">Biology</option>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label for="quiz_topic">Quiz Topic:</label>
                        <input type="text" class="form-control" id="quiz_topic" name="quiz_topic" required>
                    </div>
                
                    <div class="form-group">
                        <label for="num_questions">Number of questions:</label>
                        <input type="number" class="form-control" id="num_questions" name="num_questions" required>
                    </div>
                
                    <div class="form-group">
                        <label for="duration">Duration (in minutes):</label>
                        <input type="number" class="form-control" id="duration" name="duration" required>
                    </div>
                </div>
            </div>
            <div class="submit-button-container">
                <input type="submit" class="btn btn-custom btn-primary" value="Create Quiz">
            </div>
        </form>
    </div>
</body>
</html>