<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Quizzes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
{% extends 'base.html' %}

{% block title %}Welcome to Quizzes{% endblock %}

{% block extra_head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<script>
function showQuestions(quizIndex) {
    const questionsContainers = document.querySelectorAll(".questions-container");
    questionsContainers.forEach((container, index) => {
        if (index === quizIndex) {
            container.style.display = "block";
        } else {
            container.style.display = "none";
        }
    });
}
</script>
<div class="content">
    <aside class="sidebar">
        <h2>My Quizzes</h2>
        <ul class="quizzes">
            <!-- Add quizzes as list items -->
            {% for quiz in user_quizzes %}
            <li>
                <a href="#" onclick="showQuestions('{{ loop.index0 }}')">{{ quiz.quiz_name }}</a>
                <form action="{{ url_for('delete_quiz', quiz_id=quiz.quiz_id) }}" method="post" class="delete-form">
                    <input type="submit" value="Delete">
                </form>
            </li>
            {% endfor %}
        </ul>
    </aside>

    <div class="main">
        {% for quiz, questions in user_quizzes_questions %}
            <div class="questions-container" {% if loop.first %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                {% for question_data in questions %}
                <div class="question">
                    <h3>{{ question_data['question'].question_text }}</h3>
                    <ul>
                        {% for answer in question_data['answers'] %}
                        <li>{{ answer.answer_text }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="buttons">
            <button>Save</button>
            <button>History</button>
            <a href="{{ url_for('create_quiz_page') }}" class="button-link">
                <button>Create Quiz</button>
            </a>
            <button>Delete</button>
        </div>
    </div>
</div>
{% endblock %}

</html>
