<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
  </head>
  <body>
    <div class="login-container">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo" />
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      <h1>Login</h1>
      <form method="POST" action="{{ url_for('login') }}">
        <p>Username <input type="text" name="username" required /></p>
        <p>Password <input type="password" name="password" required /></p>
        <input class="register-btn" type="submit" value="Login" />
      </form>
    <a href="{{ url_for('register') }}" class="register-btn">Register</a>
    </div>
  </body>
</html>
