{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-container">
      <h1 class="login-h1">SIGN IN TO SMART QUIZ</h1>
      <!-- <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo" /> -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      <!-- <h1 class="login-heading">Login</h1> -->
      <form method="POST" action="{{ url_for('login') }}">
        <div class="int-area">
          <input type="text" name="username" id="id" autocomplete="off" required />
          <label for="id">USER NAME</label>
        </div>
        <div class="int-area">
          <input type="password" name="password" id="pw" autocomplete="off" required />
          <label for="pw">PASSWORD</label>
        </div>
        <div class="btn-area">
          <button type="submit" value="Login">LOGIN</button>
        </div>
      </form>
      <div class="caption">
        <a href="{{ url_for('register') }}">Create New Account?</a>
      </div>
    </div>
{% endblock %}