<!-- navbar.html -->

{% if current_user.is_authenticated %}
    <!-- Navbar when user is logged in -->
    <nav class="navbar">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <ul class="nav-links">
            <li><a href="{{ url_for('landing_page') }}">Home</a></li>
            <li><a href="{{ url_for('quizzes') }}">My Quiz</a></li>
            <li><a href="{{ url_for('create_quiz_page') }}">Create Quiz</a></li>
            <li><a href="{{ url_for('add_question') }}">Create Question</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
{% else %}
    <!-- Navbar when user is not logged in -->
    <nav class="navbar">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <ul class="nav-links">
            <li><a href="{{ url_for('landing_page') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Signup</a></li>
        </ul>
    </nav>
{% endif %}
