<!DOCTYPE html>
<html lang="en">
<head>
    <title>Past Attempts</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-4" id="attempt-list">
            <h2><span>Past Attempts</span></h2>
            <ul class="list-group">
                {% for participation in participations %}
                    <li class="list-group-item" onclick="loadAttemptData({{ participation.participation_id }})">{{ participation.start_time }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-8" id="attempt-detail">
            {% if first_attempt_data %}
                {% with responses=first_attempt_data, participation=participations[0] %}
                    {% include 'attempt_detail.html' %}
                {% endwith %}
            {% else %}
                <p class="intro-text">Select an attempt to view its details.</p>
            {% endif %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function loadAttemptData(participation_id) {
        $.get('/attempt-detail/' + participation_id, function(data) {
            $('#attempt-detail').html(data);
        });
    }

    function deleteAttempt(participation_id) {
        if (!confirm('Are you sure you want to delete this attempt?')) {
            return;
        }

        $.ajax({
            url: '/delete-attempt/' + participation_id,
            type: 'DELETE',
            success: function (response) {
                if (response.success) {
                    location.reload();
                } else {
                    console.log(response.error);
                }
            }
        });
    }
</script>
</body>
</html>