<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quizzes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Quizzes</h2>
            <ul class="list-group" id="quiz-list">
                {% for quiz in quizzes %}
                    <li class="list-group-item" onclick="loadQuizData({{ quiz.quiz_id }})">{{ quiz.quiz_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-8" id="quiz-detail">
          {% if first_quiz_data %}
              {% with questions_answers=first_quiz_data, quiz=quizzes[0] %}
                  {% include 'quiz_detail.html' %}
              {% endwith %}
          {% else %}
              <p>Select a quiz to view its details.</p>
          {% endif %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function loadQuizData(quizId) {
        $.get('/quiz-detail/' + quizId, function(data) {
            $('#quiz-detail').html(data);
        });
    }

    let editingQuizId = null;

    function editQuiz(quizId) {
        editingQuizId = quizId;

        // Add delete buttons to each question
        $('.question').each(function() {
            $(this).append('<button class="delete-button" onclick="deleteQuestion(this)">Delete</button>');
        });

        // Change 'Edit' button to 'Cancel'
        $('#edit-button').attr('onclick', 'cancelEditQuiz()').text('Cancel');
    }

    function deleteQuestion(button) {
        // Remove question from page
        $(button).closest('.question').remove();
    }

    function cancelEditQuiz() {
        editingQuizId = null;

        // Remove delete buttons
        $('.delete-button').remove();

        // Change 'Cancel' button back to 'Edit'
        $('#edit-button').attr('onclick', 'editQuiz()').text('Edit');
    }

    function saveQuiz() {
        let updatedQuizData = { questions: [] };

        // Collect updated quiz data from page
        $('.question').each(function() {
            let questionId = $(this).data('question-id');
            updatedQuizData.questions.push(questionId);
        });

        $.ajax({
            url: '/update-quiz/' + editingQuizId,
            type: 'POST',
            data: JSON.stringify(updatedQuizData),
            contentType: 'application/json',
            success: function(response) {
                if (response.success) {
                    cancelEditQuiz();
                } else {
                    console.log(response.error);
                }
            }
        });
    }
</script>
</body>
</html>