{% extends "base.html" %}

{% block content %}
    <h1>{{ quiz.title }}</h1>
    <form>
        {% for question_data in questions %}
            <div class="question">
                <h3>{{ question_data.question.question_text }}</h3>
                {% for answer in question_data.answers %}
                    <div class="answer">
                        <input type="radio" name="question-{{ question_data.question.id }}" value="{{ answer.id }}">
                        <label>{{ answer.answer_text }}</label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
