<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // connect to the socket server.
        var socket = io.connect("http://127.0.0.1:9000");

        var msgQueue = [];
        var isTyping = false;
        var paragraph = document.getElementById("message");
        var message = "";

        function typeMessage() {
          if (message.length > 0) {
            var char = message.charAt(0);
            message = message.substr(1);
            if (char === "\n") {
              paragraph.innerHTML += "<br>";
            } else {
              paragraph.innerHTML += char;
            }
            setTimeout(typeMessage, 20);
          } else {
            isTyping = false;
            typeNextMessage();
          }
        }

        function typeNextMessage() {
          if (!isTyping && msgQueue.length > 0) {
            isTyping = true;
            message = msgQueue.shift();
            typeMessage();
          }
        }

        // receive details from server
        socket.on("message", function (msg) {
          console.log(msg);
          msgQueue.push(msg.data);
          typeNextMessage();
        });
      });
    </script>
  </head>
  <body>
    <div id="message"></div>
  </body>
</html>
