{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4">Test Statistics</h2>
    
    <div class="row">
        <div class="col-md-6">
            <h4>Score Distribution</h4>
            <canvas id="scoreChart"></canvas>
        </div>
        <div class="col-md-6">
            <h4>Category Performance</h4>
            <canvas id="categoryChart"></canvas>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
